# This document specifies owners for each Technical Reference Manual (TRM).
# - Completed TRMs: chip owners are code owners; backup chip owners are backup code owners.
# - In-progress TRMs: TRM PMs are code owners; chip owners are backup code owners.
# For more CODEOWNERS examples and use cases, see https://github.com/espressif/esp-idf/blob/master/.gitlab/CODEOWNERS.

# TRM                     Owner                                                              Backup Owner

/ESP32-P4/                @documentation/codeowners/esp-technical-reference-manual-latex     @documentation/codeowners/esp32p4
/ESP32-S3/                @documentation/codeowners/esp32s3
/ESP32-C5/                @documentation/codeowners/esp32c5
/ESP32-C61/               @documentation/codeowners/esp32c61
/ESP32-C3/                @documentation/codeowners/esp32c3
/ESP32-C6/                @documentation/codeowners/esp32c6
/ESP32-H2/                @documentation/codeowners/esp32h2
/ESP32-H21/               @documentation/codeowners/esp-technical-reference-manual-latex     @documentation/codeowners/esp32h21
/ESP32-H4/                @documentation/codeowners/esp-technical-reference-manual-latex     @documentation/codeowners/esp32h4
/ESP8684/                 @documentation/codeowners/esp32c2
/ESP32/                   @documentation/codeowners/esp32
/ESP32-S2/                @documentation/codeowners/esp32s2
/ESP32-S31/               @documentation/codeowners/esp-technical-reference-manual-latex     @documentation/codeowners/esp32s31
/00-shared/               @documentation/codeowners/esp-technical-reference-manual-latex
/00-trm-shared/           @documentation/codeowners/esp-technical-reference-manual-latex
