# This document specifies owners for each Technical Reference Manual (TRM).
# - For TRMs officially published, chip owners are code owners and backup chip owners are backup code owners.
# - For TRMs in progress, TRM PMs are code owners and chip owners are backup code owners.
# For more CODEOWNERS examples and use cases, see https://github.com/espressif/esp-idf/blob/master/.gitlab/CODEOWNERS.
